h1 {
    color: #fc766aff;
    }
    body {
        background-color:#5b84b1ff
    }
    h1 {
        border-style: double
        
    }
    h1 {
        border-color: #f3d403
    }
    .fancybullets {
        list-style: square;
    }